
Pokedex.xcodeproj/xcshareddata/
Pokedex.xcodeproj/xcuserdata/
Pokedex.xcodeproj/project.xcworkspace/xcuserdata/
Pokedex.xcodeproj/project.xcworkspace/contents.xcworkspacedata/
Pokedex.xcodeproj/xcuserdata/jeromerrodriguez.xcuserdatad/
Pokedex.xcodeproj/project.xcworkspace/
